<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyuehong.weeklyreport.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.liyuehong.weeklyreport.model.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="editDate" property="editDate" jdbcType="TIMESTAMP" />
    <result column="publishDate" property="publishDate" jdbcType="TIMESTAMP" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.liyuehong.weeklyreport.model.Article" extends="BaseResultMap" >
    <result column="mdContent" property="mdContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, editDate, publishDate, uid, state
  </sql>
  <sql id="Blob_Column_List" >
    mdContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liyuehong.weeklyreport.model.Article" >
    insert into article (id, title, editDate, 
      publishDate, uid, state, 
      mdContent)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{editDate,jdbcType=TIMESTAMP}, 
      #{publishDate,jdbcType=TIMESTAMP}, #{uid,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{mdContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liyuehong.weeklyreport.model.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="editDate != null" >
        editDate,
      </if>
      <if test="publishDate != null" >
        publishDate,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="mdContent != null" >
        mdContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="editDate != null" >
        #{editDate,jdbcType=TIMESTAMP},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="mdContent != null" >
        #{mdContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liyuehong.weeklyreport.model.Article" >
    update article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="editDate != null" >
        editDate = #{editDate,jdbcType=TIMESTAMP},
      </if>
      <if test="publishDate != null" >
        publishDate = #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="mdContent != null" >
        mdContent = #{mdContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liyuehong.weeklyreport.model.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      editDate = #{editDate,jdbcType=TIMESTAMP},
      publishDate = #{publishDate,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      mdContent = #{mdContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liyuehong.weeklyreport.model.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      editDate = #{editDate,jdbcType=TIMESTAMP},
      publishDate = #{publishDate,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>